SUPABASE_PROJECT_ID="xxxxxxxxxxxxxxx"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_key"
SUPABASE_URL="https://xxxxxxxxxxxxxxx.supabase.co"

VITE_SUPABASE_PROJECT_ID="xxxxxxxxxxxxxxx"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_key"
VITE_SUPABASE_URL="https://xxxxxxxxxxxxxxx.supabase.co"

VITE_OAUTH_GOOGLE_CLIENT_ID="oauth_client_id"
VITE_OAUTH_GOOGLE_SECRET_KEY="oauth_secret_key"

SUPABASE_GOOGLE_OAUTH_APP_CLIENT_ID="sb_google_oauth_app_client_id"
SUPABASE_GOOGLE_OAUTH_APP_CLIENT_SECRET="sb_google_oauth_app_client_secret"